*{
  box-sizing: border-box;
}
.navbar-brand{
  color: rgb(115, 11, 213)!important;
}
.footer-logo{
  color: rgb(115, 11, 213)!important;
}
.loginpage {
  background-image: url("./BlogSphere/assets/login-background.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.navbar-brand{
  color: rgb(115, 11, 213)!important;
}